.inventory-layout {
  display: flex;
  justify-content: start;
  gap: 20px;
}


.inventory-container {
  flex-grow: 1;
  max-width: 900px; 
  margin-left: 20px; 
  }

/* Full Inventory Table */
  .inventory-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; 
  }
  
  .header {
    background-color: #f0f0f0; 
    text-align: center;
  }
  
  .cell {
    border: 1px solid #ddd;
    padding: 8px;
  }

  .edit-button, .delete-button {
    border-radius: 8px;
  }
  
  .row:nth-child(even) {
    background-color: #f9f9f9; /* Every other row color */
  }
  
  .add-new-product-btn {
  background-color: #D25B35;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  }
  
  .add-new-product-btn:hover {
    background-color: #3d6a30;
  }
  


  /* Single Product Style */
.details-container {
  width: 55rem; 
}



.product-image {
  height: 30rem;
  border-radius: 8px;
}

.product-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-top: 20px;
  /* Dirty fix to center edit contnet */
  padding-left: 10rem;
  max-width: 40rem;
}


.product-details, .details-container {
  /* Edits to fix content shits of edit item switch */
  align-items: flex-start; 
}

.product-details-list {
  margin-top: 20px;
}

.price-change {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 15px;
}

.price-change > label {
  /* Price input alings with close button */
  margin-right: 1rem;
}

input[type="number"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100px;
  margin-right: 10px;
}

.save-bttn {
  background-color: #D25B35;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.cancel-bttn {
  background-color: rgb(173, 171, 171);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.cancel-bttn:hover {
  background-color: #f44336; /* Red */
}

.save-bttn:hover{
  background-color: #3d6a30;
}



