/* Navbar General Style */
.navbar-container {
  display: flex;
  background-color: var(--paleGreen);
  justify-content: space-between;
}

header nav {
  display: flex;
  align-items: center;
  margin: 1rem;
}

header nav > a {
  margin: 5px;
  font-size: 1.2em;
}

/* Logo Style */
.nav-logo {
  display: flex;
  align-items: center;
  color: var(--terracotta);
}

/* Hamburger Menu Styles */
.burger-container {
  display: flex;
  align-items: center;
  margin-left: 12px;
}

.burger-menu {
  height: 1.1rem;
  width: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.burger-bar {
  width: 2rem;
  height: 0.2rem;
  border-radius: 0.5em;
  background-color: #D25B35;
}

/* Dropdown Menu Styles */
.menu {
  display: none;
  background-color: #DCF1D6;
  margin-top: 32px;
  margin-left: 7.8px;
  position: absolute;
  top: 55px;
  left: 0;
  width: 10rem; /* width of dropdown */
  z-index: 100;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.menu button {
  width: 100%;
  padding: 10px 20px;
  text-align: center;
  background: none;
  border: none;
  border-bottom: 1px solid #D25B35;
}

.menu button:hover {
  background-color: #3d6a304d;
}

.menu button:last-child {
  border-bottom: none;
}

/* Visibility Classes */
.hidden {
  display: none;
}

.visible {
  display: block; 
}

/* Icon Styles General*/
.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  text-decoration: none; /* Removes underline */
  font-size: 24px; 
}

/* Home icon */
.home-icon {
  color: #D25B35;
}

/* Cart icon */
.cart-icon {
  color: #D25B35;
}

.button.badge{
  border: none;
  background: transparent;
  color:black;
}