/* Navbar General Style */
.navbar-container {
  display: flex;
  background-color: var(--paleGreen);
  justify-content: space-between;
  border: solid 2px var(--forrestGreen);
  border-radius: 0.25rem;
  height: 10vh;
}

header nav {
  display: flex;
  align-items: center;
  margin: 1rem;
}

header nav > a {
  margin: 5px;
  font-size: 1.2em;
}

/* Logo Style */
.nav-header-text {
  display: flex;
  align-items: center;
  color: var(--terracotta);
  font-size: 2.25rem;
  font-weight: 400;
}
.big-text {
  font-weight: 600;
}
.nav-logo {
  margin-top: 0.5rem;
  max-height: 5vw;
}

.logo-and-text {
  display: flex;
}
/* Hamburger Menu Styles */
.burger-container {
  display: flex;
  align-items: center;
  margin-left: 12px;
}

.burger-menu {
  height: 1.1rem;
  width: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.burger-bar {
  width: 2rem;
  height: 0.2rem;
  border-radius: 0.5em;
  background-color: var(--terracotta);
}

/* Dropdown Menu Styles */
.menu {
  display: none;
  background-color: var(--paleGreen);
  margin-top: 32px;
  margin-left: 7.8px;
  position: relative;
  top: 6rem;
  left: -4.5rem;
  width: 10rem; /* width of dropdown */
  z-index: 100;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.menu button {
  width: 100%;
  padding: 10px 20px;
  text-align: center;
  background: none;
  /* border: none; */
  border-right: 1px solid var(--forrestGreen);
  border-left: 1px solid var(--forrestGreen);
  border-top: 1px solid var(--forrestGreen);
  color: var(--terracotta);
}

.menu button:hover {
  background-color: #3d6a3024;
  border: 1px solid var(--brightGreen);
}

.menu button:last-child {
  /* border-bottom: none; */
  border-bottom: 1px solid var(--forrestGreen);
}

/* Visibility Classes */
.hidden {
  display: none;
}

.visible {
  display: block;
}

/* Icon Styles General*/
.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  text-decoration: none; /* Removes underline */
  font-size: 24px;
}

/* Home icon */
.home-icon {
  color: var(--terracotta);
}

/* Cart icon */
.cart-icon {
  color: var(--terracotta);
}
