/* SingleProduct.css */
.Single-Seed-Container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    grid-template-rows: auto 1fr 1fr; /* Three rows, the first row size according to the content */
    gap: 1.25rem; /* Space between grid items */
    margin-top: 1.25rem;
    background-color: var(--almostWhite);
    border-radius: var(--radiusStandard);
  }
  
  .left-div {
    margin: auto;
    text-align: center;
    /* justify-content: space-around; */
  ;
  }
  .full-product-name{
    margin-top: none;
    font-size: 2rem;
    color: var(--forrestGreen);
  }
  .left-seed-card {
    padding: 1.25rem;
    border: 1px solid #ccc; /* Just to show the division */
    border-radius: var(--radiusStandard);
    text-align: center;
    margin: auto;
    margin-left: 1rem;
    background-color: var(--soil);
  }

  .add-to-cart {
    background-color: #D25B35;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px auto; /* Updated margin for horizontal centering */
    cursor: pointer;
    border-radius: 4px;
    width: 6.25rem; 
    height: 2.5rem;
    margin-top: 4rem;
  }
  
  .left-seed-card > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:  30rem;
    height: auto;
    margin-bottom: 1.5rem;
    padding: 1.25rem;
  }

  .price{
    font-size: 1.5rem;
    margin: none;
  }
  .summary {
    grid-column: 2 / 3; /* Takes up the second column */
    grid-row: 1 / 2; /* Takes up the first row */
    padding: 1.25rem;
    border: 1px solid #ccc;
    border-radius: var(--radiusStandard);
    text-align: center;
    margin: 1rem;
    margin-top: 3.25rem;
    background-color: var(--soil);
    
  }
  
  .requirements, .instructions {
    grid-column: 2 / 3; /* Both take up the second column */
    padding: 1.25rem;
    border: 1px solid #ccc;
    border-radius: var(--radiusStandard);
    text-align: center;
    margin: 1rem;
    margin-top: 4rem;
    background-color: var(--soil);
  }
  
  .requirements {
    grid-row: 2 / 3; /* Takes up the second row */
  }
  
  .instructions {
    grid-row: 3 / 4; /* Takes up the third row */
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .Seed-Container {
      grid-template-columns: 1fr; /* One column */
      grid-template-rows: auto; /* Auto rows */
    }
  
    .left-div, .summary, .requirements, .instructions {
      grid-column: 1;
      grid-row: auto; /* Each item takes its own row */
    }
  }