/* SingleProduct.css */
.Seed-Container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns */
  grid-template-rows: auto 1fr 1fr; /* Three rows, the first row size according to the content */
  gap: 20px; /* Space between grid items */
  margin: 20px;
}

.left-div {
  grid-column: 1 / 2; /* Takes up the first column */
  grid-row: 1 / -1; /* Spans from the first to the last row */
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #ccc; /* Just to show the division */
  border-radius: 10px;
}

.left-div > img {
  width:  30rem;
  height: auto;
}

.summary {
  grid-column: 2 / 3; /* Takes up the second column */
  grid-row: 1 / 2; /* Takes up the first row */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.requirements, .instructions {
  grid-column: 2 / 3; /* Both take up the second column */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.requirements {
  grid-row: 2 / 3; /* Takes up the second row */
}

.instructions {
  grid-row: 3 / 4; /* Takes up the third row */
}

/* Responsive design */
@media (max-width: 768px) {
  .Seed-Container {
    grid-template-columns: 1fr; /* One column */
    grid-template-rows: auto; /* Auto rows */
  }

  .left-div, .summary, .requirements, .instructions {
    grid-column: 1;
    grid-row: auto; /* Each item takes its own row */
  }
}
