.Seed-Conatiner {
    display: flex;
    
    
}

.pic {
    width: 20vw;

}

.left-div {
    background-color: aquamarine;
    flex-direction: row;
    max-width: 50vw;
    box-sizing: border-box;
    

}

.right-div {
    background-color: purple;
    flex-direction: column;
    box-sizing: border-box;
    

}

.instructions {
    background-color: antiquewhite;

}


.requirements {
    background-color: bisque;

}