/* Style for the search input */
input[type="text"] {
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* General table styles */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  /* Table headers */
  thead th {
    background-color: #b8b5b5;
    color: #333;
    padding: 10px;
    text-align: center;
  }
  
  /* Table rows and cells */
  tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
  }
  
  /* Row hover effect */
  tbody tr:hover {
    background-color: #d5d1d1;
  }