:root {
  /* Body Font */
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;

  /* Colors */
  --forrestGreen: #3d6a30;
  --soil: #bc8b6d;
  --paleGreen: #dcf1d6;
  --terracotta: #d25b35;
  --brightGreen: #81d144;
  --almostWhite: rgb(247, 247, 247);
  --almostBlack: rgb(17, 17, 17);

  /* Other Styling Standards */
  --radiusStandard: 0.25rem;
}
h1 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-style: normal;
}
h2 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-style: normal;
}
h3 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-style: normal;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.App-header {
  margin-bottom: 20px;
  font-size: 24px;
}

#comp-img {
  width: 250px;
}
body {
  background-color: var(--almostWhite);
}
