
:root{
  /* Colors */
  --forrestGreen: #3d6a30;
  --soil: #BC8B6D;
  --paleGreen: #DCF1D6;
  --terracotta: #D25B35;
  --brightGreen: #81D144;
  --almostWhite: rgb(247, 247, 247);
  --almostBlack: rgb(17, 17, 17);
  /* Fonts */

  /* Body Font */
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
h1{
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}
h2{
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}
h3{
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

.App-header {
  margin-bottom: 20px;
  font-size: 24px;
}

#comp-img{
  width: 250px;
}

/* Add more styling for other elements if needed */
